alias ls="$(brew --prefix)/opt/coreutils/bin/gls --color=auto"
alias l="ls -hCF"
alias ll="ls -alh"

alias erc="nano ~/.zshrc;source ~/.zshrc"
alias add="nano ~/.aliases;source ~/.aliases"

alias fix_ssh="eval `ssh-agent -s`;ssh-add ~/.ssh/id_rsa{,?}"
alias ssh_blocal="ssh root@192.168.207.1"

function pritunl_connect () {
  PRITUNL_ID=$(/Applications/Pritunl.app/Contents/Resources/pritunl-client list | grep -v "+" | awk 'FNR == 2 {print $2}')
  /Applications/Pritunl.app/Contents/Resources/pritunl-client start ${PRITUNL_ID} --password $(${HOME}/Work/go/bin/2fa pritunl)
}

